

.plane-1{
    height: 10%;
    width: 13%;
    display: inline-block;
    transform: rotate(120deg);
}
.plane-2{
    height: 10%;
    width: 15%;
    display: inline-block;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) rotate(120deg);
}

.signatures{
    display: inline-block;
    height: 90%;
    border-radius: 25px;
    margin-left: 1%;
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:22px;
}

.gradient-page {
    background: -moz-linear-gradient(45deg, rgba(255, 0, 255, 1) 0%, rgba(0, 128, 128, 1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255, 0, 255, 1)), color-stop(100%, rgba(0, 128, 128, 1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255, 0, 255, 1) 0%, rgba(0, 128, 128, 1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255, 0, 255, 1) 0%, rgba(0, 128, 128, 1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255, 0, 255, 1) 0%, rgba(0, 128, 128, 1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(255, 0, 255, 1) 0%, rgba(0, 128, 128, 1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008080', endColorstr='#ff00ff', GradientType=1); /* ie6-9 */
}

.wishes {
    display: inline-block;
    height: 100%;
    /*margin-left: 20px;*/
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-top-right-radius: 25px;
}

.wishes-left {
     display: inline-block;
     height: 100%;
     -webkit-border-top-left-radius: 25px;
     -webkit-border-bottom-left-radius: 25px;
 }

.wishes-right {
    display: inline-block;
    height: 100%;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
}


.wishes-center {
    display: inline-block;
    height: 100%;
    border-radius: 25px;
}

.grad-hat {
    border-radius: 25px;
    display: inline;
    height: 100%;
}

.photo-ratio-1 {
    /*border-radius: 25px;*/
    -webkit-border-top-left-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    width: auto;
    height: 100%;
}

.photo-ratio-2 {
    /*border-radius: 25px;*/
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    width: auto;
    height: 100%;
}

.rounded-div {
    border-radius: 25px;
    /*background: #FFFFFF;*/
    background-image: url("../res/red-green-blue.png");
    margin: 5%;
    width: fit-content;
    height: 500px;
}

.rounded-div-center {
    border-radius: 25px;
    display: flex;
    background: #FFFFFF;
    /*margin: 5%;*/
    width: 90%;
    height: 500px;
    align-items: center;
}

.rounded-div-last {
    border-radius: 25px;
    display: flex;
    background: #FFFFFF;
    margin: 5%;
    padding: 2.5%;
    width: fit-content;
    height: 500px;
    align-items: center;
}

.full-height-main {
    height: 100%;
    background-color: #8e68bf;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.full-height-kamwoh {
    height: 100%;
    background-color: #bf737d;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
}

.full-height-yukang {
    height: 100%;
    background-color: #4bb1bf;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: calc(10px + 2vmin);
    color: white;
}

.full-height-ganjie {
    height: 100%;
    background-color: #be75bf;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
}


.pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
    to {
        box-shadow: -181px -52.6666666667px #7700ff, 68px 18.3333333333px #ffae00, 158px -410.6666666667px #ff7300, 248px -239.6666666667px #ff00b7, -215px -158.6666666667px #00ff73, -132px 34.3333333333px #ff0055, 42px -118.6666666667px #ff00e1, -131px -296.6666666667px #ff00a6, 37px -56.6666666667px #ff6f00, -21px -230.6666666667px #ffa600, -62px -134.6666666667px #00ffb3, -102px 79.3333333333px #b3ff00, 137px -239.6666666667px #e600ff, -40px -297.6666666667px #00ffa6, -218px -361.6666666667px #1e00ff, 6px 33.3333333333px #fb00ff, 114px -199.6666666667px #ff5100, 64px -29.6666666667px #3700ff, 212px 69.3333333333px #0080ff, 114px -292.6666666667px #15ff00, -150px -128.6666666667px #fb00ff, 242px -267.6666666667px #fff200, -43px -320.6666666667px #ffaa00, 70px -87.6666666667px #ff0099, 100px 58.3333333333px #e1ff00, 215px -206.6666666667px #4000ff, 11px -22.6666666667px #5100ff, 154px -213.6666666667px #e1ff00, 90px -64.6666666667px #00ff88, 68px -29.6666666667px #00f2ff, -148px 16.3333333333px #001aff, -226px -191.6666666667px #00ff59, 155px -267.6666666667px #e600ff, -240px -272.6666666667px #f200ff, 118px -68.6666666667px #003cff, -113px -360.6666666667px #00ffbb, 193px -320.6666666667px #ff00fb, -176px -35.6666666667px #ff000d, 58px -284.6666666667px #d500ff, 231px -374.6666666667px #1500ff, 216px 59.3333333333px #001eff, -128px -7.6666666667px #bfff00, 131px -411.6666666667px #f700ff, 221px -242.6666666667px #ff2200, 33px -111.6666666667px #ae00ff, -19px -329.6666666667px #ffc400, -153px -208.6666666667px #ff0099, -104px -102.6666666667px #ff8000, -26px -186.6666666667px #00ff62, -70px 18.3333333333px #00e6ff, -224px 28.3333333333px #ff0033;
    }
}

@-moz-keyframes bang {
    to {
        box-shadow: -181px -52.6666666667px #7700ff, 68px 18.3333333333px #ffae00, 158px -410.6666666667px #ff7300, 248px -239.6666666667px #ff00b7, -215px -158.6666666667px #00ff73, -132px 34.3333333333px #ff0055, 42px -118.6666666667px #ff00e1, -131px -296.6666666667px #ff00a6, 37px -56.6666666667px #ff6f00, -21px -230.6666666667px #ffa600, -62px -134.6666666667px #00ffb3, -102px 79.3333333333px #b3ff00, 137px -239.6666666667px #e600ff, -40px -297.6666666667px #00ffa6, -218px -361.6666666667px #1e00ff, 6px 33.3333333333px #fb00ff, 114px -199.6666666667px #ff5100, 64px -29.6666666667px #3700ff, 212px 69.3333333333px #0080ff, 114px -292.6666666667px #15ff00, -150px -128.6666666667px #fb00ff, 242px -267.6666666667px #fff200, -43px -320.6666666667px #ffaa00, 70px -87.6666666667px #ff0099, 100px 58.3333333333px #e1ff00, 215px -206.6666666667px #4000ff, 11px -22.6666666667px #5100ff, 154px -213.6666666667px #e1ff00, 90px -64.6666666667px #00ff88, 68px -29.6666666667px #00f2ff, -148px 16.3333333333px #001aff, -226px -191.6666666667px #00ff59, 155px -267.6666666667px #e600ff, -240px -272.6666666667px #f200ff, 118px -68.6666666667px #003cff, -113px -360.6666666667px #00ffbb, 193px -320.6666666667px #ff00fb, -176px -35.6666666667px #ff000d, 58px -284.6666666667px #d500ff, 231px -374.6666666667px #1500ff, 216px 59.3333333333px #001eff, -128px -7.6666666667px #bfff00, 131px -411.6666666667px #f700ff, 221px -242.6666666667px #ff2200, 33px -111.6666666667px #ae00ff, -19px -329.6666666667px #ffc400, -153px -208.6666666667px #ff0099, -104px -102.6666666667px #ff8000, -26px -186.6666666667px #00ff62, -70px 18.3333333333px #00e6ff, -224px 28.3333333333px #ff0033;
    }
}

@-o-keyframes bang {
    to {
        box-shadow: -181px -52.6666666667px #7700ff, 68px 18.3333333333px #ffae00, 158px -410.6666666667px #ff7300, 248px -239.6666666667px #ff00b7, -215px -158.6666666667px #00ff73, -132px 34.3333333333px #ff0055, 42px -118.6666666667px #ff00e1, -131px -296.6666666667px #ff00a6, 37px -56.6666666667px #ff6f00, -21px -230.6666666667px #ffa600, -62px -134.6666666667px #00ffb3, -102px 79.3333333333px #b3ff00, 137px -239.6666666667px #e600ff, -40px -297.6666666667px #00ffa6, -218px -361.6666666667px #1e00ff, 6px 33.3333333333px #fb00ff, 114px -199.6666666667px #ff5100, 64px -29.6666666667px #3700ff, 212px 69.3333333333px #0080ff, 114px -292.6666666667px #15ff00, -150px -128.6666666667px #fb00ff, 242px -267.6666666667px #fff200, -43px -320.6666666667px #ffaa00, 70px -87.6666666667px #ff0099, 100px 58.3333333333px #e1ff00, 215px -206.6666666667px #4000ff, 11px -22.6666666667px #5100ff, 154px -213.6666666667px #e1ff00, 90px -64.6666666667px #00ff88, 68px -29.6666666667px #00f2ff, -148px 16.3333333333px #001aff, -226px -191.6666666667px #00ff59, 155px -267.6666666667px #e600ff, -240px -272.6666666667px #f200ff, 118px -68.6666666667px #003cff, -113px -360.6666666667px #00ffbb, 193px -320.6666666667px #ff00fb, -176px -35.6666666667px #ff000d, 58px -284.6666666667px #d500ff, 231px -374.6666666667px #1500ff, 216px 59.3333333333px #001eff, -128px -7.6666666667px #bfff00, 131px -411.6666666667px #f700ff, 221px -242.6666666667px #ff2200, 33px -111.6666666667px #ae00ff, -19px -329.6666666667px #ffc400, -153px -208.6666666667px #ff0099, -104px -102.6666666667px #ff8000, -26px -186.6666666667px #00ff62, -70px 18.3333333333px #00e6ff, -224px 28.3333333333px #ff0033;
    }
}

@-ms-keyframes bang {
    to {
        box-shadow: -181px -52.6666666667px #7700ff, 68px 18.3333333333px #ffae00, 158px -410.6666666667px #ff7300, 248px -239.6666666667px #ff00b7, -215px -158.6666666667px #00ff73, -132px 34.3333333333px #ff0055, 42px -118.6666666667px #ff00e1, -131px -296.6666666667px #ff00a6, 37px -56.6666666667px #ff6f00, -21px -230.6666666667px #ffa600, -62px -134.6666666667px #00ffb3, -102px 79.3333333333px #b3ff00, 137px -239.6666666667px #e600ff, -40px -297.6666666667px #00ffa6, -218px -361.6666666667px #1e00ff, 6px 33.3333333333px #fb00ff, 114px -199.6666666667px #ff5100, 64px -29.6666666667px #3700ff, 212px 69.3333333333px #0080ff, 114px -292.6666666667px #15ff00, -150px -128.6666666667px #fb00ff, 242px -267.6666666667px #fff200, -43px -320.6666666667px #ffaa00, 70px -87.6666666667px #ff0099, 100px 58.3333333333px #e1ff00, 215px -206.6666666667px #4000ff, 11px -22.6666666667px #5100ff, 154px -213.6666666667px #e1ff00, 90px -64.6666666667px #00ff88, 68px -29.6666666667px #00f2ff, -148px 16.3333333333px #001aff, -226px -191.6666666667px #00ff59, 155px -267.6666666667px #e600ff, -240px -272.6666666667px #f200ff, 118px -68.6666666667px #003cff, -113px -360.6666666667px #00ffbb, 193px -320.6666666667px #ff00fb, -176px -35.6666666667px #ff000d, 58px -284.6666666667px #d500ff, 231px -374.6666666667px #1500ff, 216px 59.3333333333px #001eff, -128px -7.6666666667px #bfff00, 131px -411.6666666667px #f700ff, 221px -242.6666666667px #ff2200, 33px -111.6666666667px #ae00ff, -19px -329.6666666667px #ffc400, -153px -208.6666666667px #ff0099, -104px -102.6666666667px #ff8000, -26px -186.6666666667px #00ff62, -70px 18.3333333333px #00e6ff, -224px 28.3333333333px #ff0033;
    }
}

@keyframes bang {
    to {
        box-shadow: -181px -52.6666666667px #7700ff, 68px 18.3333333333px #ffae00, 158px -410.6666666667px #ff7300, 248px -239.6666666667px #ff00b7, -215px -158.6666666667px #00ff73, -132px 34.3333333333px #ff0055, 42px -118.6666666667px #ff00e1, -131px -296.6666666667px #ff00a6, 37px -56.6666666667px #ff6f00, -21px -230.6666666667px #ffa600, -62px -134.6666666667px #00ffb3, -102px 79.3333333333px #b3ff00, 137px -239.6666666667px #e600ff, -40px -297.6666666667px #00ffa6, -218px -361.6666666667px #1e00ff, 6px 33.3333333333px #fb00ff, 114px -199.6666666667px #ff5100, 64px -29.6666666667px #3700ff, 212px 69.3333333333px #0080ff, 114px -292.6666666667px #15ff00, -150px -128.6666666667px #fb00ff, 242px -267.6666666667px #fff200, -43px -320.6666666667px #ffaa00, 70px -87.6666666667px #ff0099, 100px 58.3333333333px #e1ff00, 215px -206.6666666667px #4000ff, 11px -22.6666666667px #5100ff, 154px -213.6666666667px #e1ff00, 90px -64.6666666667px #00ff88, 68px -29.6666666667px #00f2ff, -148px 16.3333333333px #001aff, -226px -191.6666666667px #00ff59, 155px -267.6666666667px #e600ff, -240px -272.6666666667px #f200ff, 118px -68.6666666667px #003cff, -113px -360.6666666667px #00ffbb, 193px -320.6666666667px #ff00fb, -176px -35.6666666667px #ff000d, 58px -284.6666666667px #d500ff, 231px -374.6666666667px #1500ff, 216px 59.3333333333px #001eff, -128px -7.6666666667px #bfff00, 131px -411.6666666667px #f700ff, 221px -242.6666666667px #ff2200, 33px -111.6666666667px #ae00ff, -19px -329.6666666667px #ffc400, -153px -208.6666666667px #ff0099, -104px -102.6666666667px #ff8000, -26px -186.6666666667px #00ff62, -70px 18.3333333333px #00e6ff, -224px 28.3333333333px #ff0033;
    }
}

@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-moz-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-o-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-ms-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-webkit-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-moz-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-o-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-ms-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@keyframes firework-seed-animation {
    0% {
        background-color: #ff8426;
    }
    25% {
        background-color: #fffc84;
    }
    100% {
        background-color: #ff8426;
    }
}

@-webkit-keyframes firework-seed-animation {
    0% {
        background-color: #ff8426;
    }
    25% {
        background-color: #fffc84;
    }
    100% {
        background-color: #ff8426;
    }
}

.fireWorkSeed {
    z-index: 999;
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 5px;
    animation-name: firework-seed-animation;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}




